<div class="page-wrapper container">

  <div class="form-box">

  <div class="form center-block">

    <div class="form-field">
      <label for="title">Tytuł:</label>
      <input id="title" placeholder="Tytuł" [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
      <div *ngIf="errors?.title">
        {{errors.title}}
      </div>
    </div>

    <div class="form-field">
      <label for="tags">Tagi:</label>
      <input id="tags" placeholder="Tagi">
    </div>

    <div class="form-field">
      <label for="image">Obrazek:</label>
      <input id="image" type="file" accept="image/*" (change)="changeImageListener($event)">
    </div>

    <div class="form-field">
      <button class="submit-button" (click)="onSubmit()">Dodaj</button>
    </div>
  </div>

  </div>


</div>
