.posts-box {
  width: 800px;
  background-color: #111111;
  padding-bottom: 65px;
  margin-top: 100px;
  padding-top: 10px;
}

.post {
  width: 650px;
  margin-bottom: 60px;
}

.post-img {
  max-width: 100%;
  cursor: pointer;
}

.post-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #f4f4f4;
  font-weight: bold;
  cursor: pointer;
}
