<div class="signup-modal">
  <md-toolbar color="primary">Sign up</md-toolbar>

  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" autocomplete="off" novalidate>

    <md-input-container class="form-field">
      <input mdInput formControlName="username" placeholder="Username">
    </md-input-container>
    <div *ngIf="errorMessages.username.errors" class="form-error-message">
      {{ errorMessages.username.errors[0] }}
    </div>

    <md-input-container class="form-field">
      <input mdInput formControlName="email" placeholder="Email">
    </md-input-container>
    <div *ngIf="errorMessages.email.errors" class="form-error-message">
      {{ errorMessages.email.errors[0] }}
    </div>

    <md-input-container class="form-field">
      <input mdInput formControlName="password" placeholder="Password" type="password">
    </md-input-container>
    <div *ngIf="errorMessages.password.errors" class="form-error-message">
      {{ errorMessages.password.errors[0] }}
    </div>

    <md-input-container class="form-field">
      <input mdInput formControlName="confirmPassword" placeholder="Confirm password" type="password">
    </md-input-container>
    <div *ngIf="errorMessages.confirmPassword.errors" class="form-error-message">
      {{ errorMessages.confirmPassword.errors[0] }}
    </div>

    <button md-raised-button class="submit-btn" type="submit">Create account</button>
  </form>
</div>
