<div class="navbar">
  <div class="container navbar-container">
    <span routerLink="/" class="logo">MOMUS</span>

    <div class="pull-right">
          <span *ngIf="!authService.isAuth()">
            <button md-button (click)="openLoginDialog()">Login</button>
            <button md-button (click)="openSignUpDialog()">Sign up</button>
          </span>

      <span *ngIf="authService.isAuth()">
            <button md-button routerLink="/create-post">Create post</button>
            <button md-button (click)="logout()">Logout</button>
          </span>
    </div>
  </div>
</div>
